@media screen and (max-width: 415px) {
  .header_menu {
    display: block;
    margin-top: 6px;
  }

  #header {
    height: 527px !important;
  }

  .left_title_header {
    img {
      width: 95%;
    }
  }

  .title_header {
    margin-top: -29px;
    margin-left: 1px;
  }

  .right_title_header {
    display: none !important;
  }

  .slides_header_right {
    display: none !important;
  }

  // .search_header {
  //     display: none !important;
  // }

  .slides_header_left {
    display: block;
    text-align: center;

    img {
      display: none !important;
    }

    h1 {
      text-transform: capitalize;
      font-size: 27px !important;
      color: #fff;
      font-weight: 400;
      font-family: "Nunito Sans";
      text-align: center;
      margin-top: 58px !important;
      margin-right: 6px !important;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      line-height: 32px;
      height: auto;
    }

    p {
      margin-top: -3px;
      width: 102%;
      margin-left: -2.7px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      height: auto;
    }

    span {
      margin-top: 14px;
    }
  }

  .Sub_Header {
    width: 80% !important;
    margin: 0 auto !important;
    // margin-top: 3px !important;
  }

  .slick-slider {
    margin-top: 3px;
  }

  .slick-prev {
    display: block !important;
    // top: 60% !important;
    left: 30% !important;
    top: 121%;
  }

  .slick-next {
    display: block !important;
    bottom: 40% !important;
    right: 30%;
    top: 280px;
  }

  .search_header {
    position: absolute;
    top: 8.4%;
    padding-top: 180px !important;
    padding-bottom: 80px;
    // padding-bottom: 0;

    .search_heaader_right {
      display: none !important;
    }

    .search_heaader_left {
      .search_left_content {
        display: flex;
        position: absolute;
        margin-top: -22px;
        width: 103vw;
        margin-left: -43px;

        select {
          margin-right: 0 !important;
          margin-left: 0 !important;
          border-radius: 0 !important;
          background-color: #13547a !important;
          height: 60px !important;
        }

        #search_item {
          padding: 0 16px;
          padding-top: 0;
          border-right: 19px solid transparent;
        }

        #search_item1 {
          width: 236px;
          padding: 0 16px;
          padding-top: 0;
          border-right: 18px solid transparent;
        }

        #search_item2 {
          width: 254px;
          padding: 0 16px;
          padding-top: 0;
          border-right: 18px solid transparent;
        }
      }
    }
  }

  .header_content_wrap {
    display: none;
  }

  .body_content_item1 {
    display: flex;
    flex-direction: column;
  }

  .body_content_wrap {
    width: 100% !important;
  }

  #body_content {
    width: 80% !important;
  }

  .item1_left {
    img {
      width: 100%;
      height: 299px !important;
      padding-top: 59px;
      margin-bottom: 0 !important;
    }
  }

  .item1_right {
    margin-top: -11px !important;

    h2 {
      width: auto;
      font-size: 28px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: auto;
      line-height: 34px;
    }

    p {
      margin-top: 12px;
      width: auto;
      height: auto;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 25px;
    }
  }

  .item1_right1 {
    margin-top: 23px;

    img {
      margin-top: 0;
    }

    span {
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  .item1_right_right {
    margin-top: 36px;

    img {
      max-width: 108px;
      width: 100%;
      height: 114px;
      object-fit: cover;
      margin-right: 18px;
    }
  }

  .item1_right_right_right {
    margin-left: -3px;

    h3 {
      height: auto;
      width: 101%;
      font-size: 16px;
      // margin-top: -5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: auto;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 19px;
      height: auto;
    }

    span {
      margin-top: 11px;
    }

    .p_item1 {
      margin-top: 11px;
    }

    .h3_item1 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .span_item1 {
    }
  }

  .body_content_item2 {
    clear: both;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 57px;
  }

  .body_content_item2 {
    img {
      width: 100%;
      height: 239px;
    }
  }

  .item2_right {
    width: 100%;

    h2 {
      width: auto;
      font-size: 28px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: auto;
      line-height: 34px;
      margin-top: -74px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #10132c;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
      margin-top: 13px;
      height: auto;
    }
  }

  .item2_right1 {
    margin-top: -21px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }

    span {
    }
  }

  .item2_right_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -17px;

    img {
      width: 108px;
      height: 114px;
      border-radius: 4px;
    }

    .item2_right_right_right {
      width: 63%;

      h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // width: 209px;
        height: auto;
        font-size: 16px;
        color: #10132c;
        font-weight: 700;
        font-family: "Nunito Sans";
        width: 100% !important;
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // width: 209px;
        height: auto;
        font-size: 14px;
        line-height: 20px;
        color: #10132c;
        font-weight: 400;
        font-family: "Nunito Sans";
        margin-top: 10px;
      }

      span {
        font-size: 14px;
        color: #10132c;
        font-weight: 700;
        font-family: "Nunito Sans";
        margin-top: 11px;
      }
    }
  }

  #footer {
    height: 771px;
  }

  #footer_content {
    margin-top: 88px;
  }

  .footer_content {
    display: grid;
    text-align: center;
    width: auto;
    margin-top: 94px;
  }

  .footer_content_left {
    margin-top: -138px;
  }

  .footer_content_left1 {
    div {
      display: flex;
      margin: 0 auto;
      margin-top: 23px;
    }

    .footer_content_left_1 {
      display: flex;
      flex-direction: column;
    }
  }

  .footer_content_left1_left {
    border-radius: 38px;
    background-color: rgba(16, 19, 44, 0.050980392156862744);
    display: flex;
    justify-content: space-around;
  }

  .footer_content_left1_right {
    border-radius: 38px;
    background-color: rgba(16, 19, 44, 0.050980392156862744);
    display: flex;
    justify-content: space-around;
  }

  .footer_content_left1_left img {
    margin-left: 29px;
    margin-top: -3px;
  }

  .footer_content_left1_right img {
    margin-left: 29px;
    margin-top: -3px;
  }

  .footer_content_left1_left p {
    margin-top: -12px;
    margin-left: -26px;
  }

  .footer_content_left1_left h2 {
    margin-left: -36px;
    margin-top: -1px;
  }

  .footer_content_left1_right h2 {
    margin-left: -47px;
  }

  .footer_content_left1_right p {
    margin-top: -20px;
    margin-left: -27px;
  }

  .footer_content_right {
    margin-top: -275px;
  }

  .footer_content_left2 {
    display: flex;
    position: absolute;
    margin-top: 266px;
    flex-direction: column;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 273px;
    margin-left: -39px;
  }

  .footer_content_right_left {
    margin-right: 73px;
  }

  .footer_content_right_left ul {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 5px;
  }

  .footer_content_right_right ul {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: -2px;
  }

  .footer_content_right_right h2 {
    margin-right: 6px;
  }

  .footer_content_right_down ul {
    display: flex;
    justify-content: space-between;
    width: 112%;
    margin-left: -15px;
  }

  .footer_company_support {
    margin-bottom: 42px !important;
    margin-top: 30px !important;
  }

  .nav-input:checked ~ .nav__overlay {
    display: block !important;
  }

  .nav-input:checked ~ .nav__moblie {
    transform: translateX(0%) !important;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .nav__moblie-content {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    line-height: 22px;

    .nav__moblie-content1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        font-size: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fefefe;
        font-weight: 900;
        font-family: "Nunito Sans";
        text-align: center;
      }
    }

    .nav__moblie-content2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 21px;
      margin-left: -2px;

      li {
        font-size: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fefefe;
        font-weight: 900;
        font-family: "Nunito Sans";
        text-align: center;
      }
    }

    .nav__moblie-content3 {
      margin-top: 32px;
      margin-left: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto;

      li {
        opacity: 0.2;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #10132c;
        margin-left: -4px;
        margin-right: 14px;
      }

      img {
        font-size: 14px;
        color: #fefefe;
        font-family: "Font Awesome";
        text-align: center;
        margin-left: 14px;
        margin-top: 13px;
      }
    }

    .nav__moblie-content4 {
      padding-bottom: 51px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        width: 284px;
        height: auto;
        font-size: 14px;
        line-height: 22px;
        color: #fefefe;
        font-weight: 400;
        font-family: "Nunito Sans";
        text-align: center;
      }
    }
  }

  .nav__moblie-header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;

    h2 {
      margin-left: 45px;
      padding-top: 20px;
      font-size: 28px;
      color: #ffffff;
      font-weight: 900;
      font-style: italic;
      font-family: "Lato";
      // text-align: center;
    }

    img {
      width: 18px;
      height: 18px;
      margin-top: 28px;
      margin-right: 45px;
    }
  }

  .icon_load_up {
    display: block;
    position: absolute;
    left: 65.5%;
    top: 19%;
    z-index: 1;
  }
}

@media screen and (min-width: 300px) and (max-width: 369px) {
  .search_header .search_heaader_left .search_left_content {
    width: 102vw;
  }
}

@media screen and (min-width: 415px) and (max-width: 1868px) {
  .nav-input:checked ~ .nav__overlay {
    display: block !important;
  }

  .nav-input:checked ~ .nav__moblie {
    transform: translateX(0%) !important;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .nav__moblie-content {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    line-height: 22px;

    .nav__moblie-content1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        font-size: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fefefe;
        font-weight: 900;
        font-family: "Nunito Sans";
        text-align: center;
      }
    }

    .nav__moblie-content2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 21px;
      margin-left: -2px;

      li {
        font-size: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fefefe;
        font-weight: 900;
        font-family: "Nunito Sans";
        text-align: center;
      }
    }

    .nav__moblie-content3 {
      margin-top: 32px;
      margin-left: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto;

      li {
        opacity: 0.2;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #10132c;
        margin-left: -4px;
        margin-right: 14px;
      }

      img {
        font-size: 14px;
        color: #fefefe;
        font-family: "Font Awesome";
        text-align: center;
        margin-left: 14px;
        margin-top: 13px;
      }
    }

    .nav__moblie-content4 {
      padding-bottom: 51px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        width: 284px;
        height: auto;
        font-size: 14px;
        line-height: 22px;
        color: #fefefe;
        font-weight: 400;
        font-family: "Nunito Sans";
        text-align: center;
      }
    }
  }

  .nav__moblie-header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;

    h2 {
      margin-left: 45px;
      padding-top: 20px;
      font-size: 28px;
      color: #ffffff;
      font-weight: 900;
      font-style: italic;
      font-family: "Lato";
      // text-align: center;
    }

    img {
      width: 18px;
      height: 18px;
      margin-top: 28px;
      margin-right: 45px;
    }
  }

  .nav__moblie-header img:active {
  }

  #header {
    height: auto;
  }

  .search_header {
    display: none;
  }

  .title_header {
    margin-bottom: 60px;
  }

  .slides_header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    // margin-top: 104px;
    .slides_header_left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        // margin-top: 504px;
      }
    }

    .slides_header_right {
      justify-content: space-around;
      margin-left: 30px;
      // margin-bottom: 242px;
    }
  }

  .slides_header_left h1 {
    text-align-last: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: auto;
  }

  .slides_header_left p {
    text-align-last: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: auto;
  }

  .slides_header_right_item p {
    text-align-last: center;
  }

  .slides_header_right_item span {
    display: flex;
    justify-content: center;
  }

  .slides_item3 {
    display: none;
  }

  .item1_left {
    width: 100%;

    img {
      width: 100% !important;
      height: auto;
      margin-bottom: 0px;
    }
  }

  .item1_right {
    width: 100%;

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      height: auto;
    }
  }

  .item2_right {
    margin-bottom: 50px;

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }

  .item2_right1 {
    width: 30%;
    margin-left: 20%;
    margin-right: 35%;
  }

  .item2_left {
    img {
      margin-bottom: 0px;
    }
  }

  .item2_right_right_right {
    p {
      height: auto;
    }
  }

  // #header{
  //     height: auto;
  // }
  // .search_header{
  //     display: none;
  // }
  // .slick-slider{
  //     display:none;
  // }
  // .Sub_Header{
  //     padding-top: 22px !important;
  //     padding-bottom: 22px;
  // }
  // .header_content_wrap{
  //     display: none;
  // }
  // .icon_load_up {
  //     display: block;
  //     position: absolute;
  //     left: 87.7%;
  //     top: 77.5%;
  //     z-index: 1;
  // }
}

@media screen and (max-width: 1834px) and (min-width: 415px) {
  .body_content_item1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: auto;

    .item1_left {
      img {
        width: auto;
      }
    }

    .slides_header_right_item {
      display: none !important;
    }

    .item1_right {
      h2 {
        // margin-top: -20%;
        width: 100% !important;
        text-align-last: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        height: auto;
      }

      p {
        // width: 100% !important;
        text-align-last: center;
      }
    }

    .item1_right > p {
      width: 100%;
      margin-top: 4%;
      height: auto;
    }

    .item1_right1 {
      // display: flex;
      justify-content: center;
      margin-bottom: 30px;

      span {
        margin-bottom: 0px;
      }
    }

    .item1_right_right {
      justify-content: center;
      // margin-left: 13%;
      display: flex;
    }

    .item1_right_right_right > p {
      text-align-last: auto;
    }
  }

  .body_content_item2 {
    margin-top: 40px;
    flex-direction: column-reverse;

    .item2_left {
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .item2_right {
      h2 {
        width: 100%;
        text-align-last: center;
        // margin-top: -21%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: auto;
      }
    }

    .item2_right > p {
      width: 100%;
      text-align-last: center;
      height: auto;
    }

    .item2_right1 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 59%;

      // margin-left: 50px;
      img {
        margin-top: 36px;
      }
    }

    .item2_right_right {
      justify-content: center;
      // margin-left: 7%;
    }

    .item2_right_right_right {
      float: right;
      margin-left: 3%;
    }
  }

  .body_content_wrap {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1317px) {
  #header_content {
    display: none;
  }
}

@media screen and (max-width: 1204px) {
  // .title_header{
  //     display: none;
  // }
  .right_title_header {
    display: none;
  }

  .header_menu {
    display: block;
  }
}

@media screen and (min-width: 415px) and (max-width: 1261px) {
  #footer {
    height: 771px;
  }

  #footer_content {
    margin-top: 88px;
  }

  .footer_content {
    display: grid;
    text-align: center;
    width: auto;
    margin-top: 94px;
  }

  .footer_content_left {
    margin-top: -138px;
  }

  .footer_content_left1 {
    div {
      display: flex;
      // margin: 0 auto;
      margin-top: 23px;
    }

    .footer_content_left_1 {
      display: flex;
      flex-direction: row;
    }
  }

  .footer_content_left1_left {
    border-radius: 38px;
    background-color: rgba(16, 19, 44, 0.050980392156862744);
    display: flex;
    justify-content: space-around;
  }

  .footer_content_left1_right {
    border-radius: 38px;
    background-color: rgba(16, 19, 44, 0.050980392156862744);
    display: flex;
    justify-content: space-around;
  }

  .footer_content_left1_left {
    margin-right: 36px !important;
  }

  .footer_content_left1_right img {
    // margin-left: 29px;
    margin-top: -3px;
  }

  .footer_content_left1_left p {
    margin-top: -12px;
    margin-left: -26px;
  }

  .footer_content_left1_left h2 {
    margin-left: -36px;
    margin-top: -1px;
  }

  .footer_content_left1_right h2 {
    margin-left: -47px;
  }

  .footer_content_left1_right p {
    margin-top: -20px;
    margin-left: -27px;
  }

  .footer_content_right {
    margin-top: -275px;
  }

  .footer_content_left2 {
    display: flex;
    position: absolute;
    margin-top: 266px;
    flex-direction: column;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 315px;
    margin-left: 36px;
  }

  .footer_content_right_left {
    margin-right: 73px;
  }

  .footer_content_right_left ul {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 5px;
  }

  .footer_content_right_right ul {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: -2px;
  }

  .footer_content_right_right h2 {
    margin-right: 6px;
  }

  .footer_content_right_down ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }

  .footer_company_support {
    margin-bottom: 42px !important;
    // margin-top: 30px !important;
    justify-content: space-around !important;
  }
}

@media screen and (max-width: 558px) and (min-width: 415px) {
  .item1_right_right {
    display: none;
  }

  .item2_right_right {
    display: none;
  }
}

@media screen and (min-width: 415px) and (max-width: 960px) {
  .slides_header_right {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slick-next {
    right: -20%;
  }

  .slick-prev {
    left: -20%;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .slick-prev {
    left: 28%;
    top: 92%;
  }

  .slick-next {
    right: 28%;
    bottom: 8%;
  }
}

@media screen and (max-width: 900px) and (min-width: 415px) {
  .item1_right_right {
    display: none !important;
  }
  .item2_right_right {
    display: none;
  }
  .icon_load_up {
    display: block;
    position: absolute;
    left: 68.5%;
    top: 13%;
    z-index: 1;
  }
}
